/*color palette*/
:root {
    --antique-brass: #cb997eff;
    --desert-sand: #ddbea9ff;
    --champagne-pink: #ffe8d6ff;
    --ash-gray: #b7b7a4ff;
    --artichoke: #a5a58dff;
    --ebony: #6b705cff;
}

/*Ubuntu font*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #F0EAD6; 
}

body {
    padding: 2em;
}
.inc-button {
    background-color: #8CAF5F;
}

.dec-button {
    background-color: #B57E6D;
}

.ctr-button {
    background-color: #6DB59A;
}

.container-fluid {
}
  