#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    border: 5px solid black;
  }
  
  #break-label, #session-label {
    text-align: center;
    margin: 10px;
  }
  
  .btn {
    background-color: red;
    width: 5rem;
    height: 5rem;
  }
  