/*color palette*/
:root {
--antique-brass: #cb997eff;
--desert-sand: #ddbea9ff;
--champagne-pink: #ffe8d6ff;
--ash-gray: #b7b7a4ff;
--artichoke: #a5a58dff;
--ebony: #6b705cff;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container-fluid {
    background-color: whitesmoke;
}
  #break-label, #session-label {
    text-align: center;
    margin: 10px;
  }
  
  .btn {
    background-color: red;
    width: 5rem;
    height: 5rem;
  }
  